.headerWrap {
  position: fixed;
  top: 0;
  background-color: #F6F9FB;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid #ACACAC;
  @media (max-width: 767px) {
    padding: 20px 16px 5px;
  }
}

.header {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: end;

  @media (max-width: 991px) {
    padding: 0 64px;
  }
  @media (max-width: 767px) {
    padding: 0;
    justify-content: space-between;
  }

  &--headerLogo {
    text-align: center;

    @media (max-width: 1024px) {
      text-align: left;
    }

    & svg{
      @media (max-width: 767px) {
        width: 124px;
        height: 51.952px;
      }

    }
    & img {
      max-width: 181px;
      

    }
  }

  &--headerMenu {
    display: flex;
    justify-content: center;

    & ul {
      display: flex;
      gap: 50px;
      list-style: none;
      margin-bottom: 0;

      & li {
        & a {
          font-size: 18px;
          font-family: "Syne";
          font-weight: 400;
          line-height: 20px;
          color: #000 !important;
          text-decoration: none;
        }
      }
    }
  }

  &--headerContactSection {
    display: flex;
    justify-content: end;
    align-items: center;

    

    @media (max-width: 1024px) {
      gap: 49px;
    }

    &--headerContact{
      background: #131842;
      padding: 26px 43px 26px 43px;
      font-family: "Syne";
      font-size: 21px;
      line-height: 33px;
      font-weight: 400;
      color: #fff;
      max-width: 227px;
      width: 100%;
      text-decoration: underline;
      cursor: pointer;
      text-align: center;
    }
  }
}

.boder {
  width: 100%;
  height: 1px;
  background-color: #9B9B9B;
}

#menu-list li {
  position: relative;
}

.headerMobileMenu{
  position: fixed;
  background: #F6F9FB;
  z-index: 1000;
  top: 86px;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 43px 64px 88px;
  height: 100%;
  @media (max-width:767px) {
    top: 77px;
  }
  & ul{
    list-style: none;
    padding-left: 0;
   
    & li{
      border-bottom: 1px solid #DBDBDB;
      padding: 30px 0;
      &:last-child{
        border: none;
      }
      & a{
        text-decoration: none !important;
        color: #000;
        font-family: "Syne";
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 111.111% */
      }
    }
  }
}

#contact-us-button {
  background: #131842;
  padding: 26px 43px 26px 43px;
  font-family: "Syne";
  font-size: 21px;
  line-height: 33px;
  font-weight: 400;
  color: #fff;
  max-width: 227px;
  width: 100%;
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
}

#menu-list li.active a::after {
  position: absolute;
  background: url('data:image/svg+xml,<svg width="53" height="3" viewBox="0 0 53 3" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.487107 1.83185C0.619349 1.80939 0.665306 1.90131 0.73763 1.9538C0.853764 2.038 0.984291 2.11758 1.06724 2.21996C1.15229 2.3253 1.30456 2.3161 1.40717 2.3878C1.4585 2.42373 1.56953 2.40812 1.65372 2.41239C1.75707 2.41763 1.86065 2.4191 1.96412 2.42225C2.06258 2.53952 2.21539 2.49649 2.3457 2.49258C2.50382 2.48785 2.60251 2.60832 2.77684 2.58627C2.91531 2.5687 3.09346 2.52662 3.20728 2.65695C3.32905 2.65857 3.45523 2.64492 3.57137 2.66605C3.69755 2.68897 3.798 2.7695 3.95022 2.74877C4.08638 2.73032 4.22968 2.74487 4.36987 2.74487C4.52746 2.74487 4.68531 2.74487 4.84311 2.74487C4.98319 2.74487 5.12333 2.74487 5.26347 2.74487C5.4211 2.74487 5.57879 2.74487 5.73638 2.74487C5.87657 2.74487 6.0167 2.74487 6.15673 2.74487C6.31458 2.74487 6.4755 2.72895 6.62895 2.74932C6.78304 2.76977 6.86143 2.65117 7.00694 2.65875C7.23353 2.67062 7.46601 2.68135 7.68829 2.65422C7.81177 2.63917 7.92024 2.56167 8.06735 2.57602C8.20534 2.58942 8.34709 2.57895 8.48722 2.57895C8.62735 2.57895 8.76749 2.57895 8.90762 2.57895C9.1879 2.57895 9.46817 2.57952 9.74843 2.57845C9.81663 2.57815 9.91757 2.59365 9.94763 2.5652C10.0609 2.45782 10.2037 2.50255 10.3353 2.4973C10.4926 2.4911 10.6505 2.49517 10.8083 2.49613C10.9119 2.49679 11.014 2.50625 11.0896 2.42505C11.1042 2.40945 11.1938 2.41585 11.2244 2.43567C11.2797 2.4719 11.3275 2.51122 11.4043 2.49522C11.5906 2.4563 11.7162 2.56915 11.8698 2.61015C11.8999 2.61817 11.9192 2.65462 11.9487 2.66005C12.0625 2.6812 12.1979 2.61767 12.2956 2.69822C12.4008 2.7851 12.5254 2.73115 12.6403 2.7438C12.7251 2.7531 12.8486 2.725 12.8905 2.76057C13.0097 2.8625 13.1482 2.8221 13.2797 2.82632C13.472 2.83247 13.6652 2.82902 13.8575 2.8276C14.0422 2.82622 14.2349 2.8559 14.3922 2.74487C14.7252 2.74487 15.058 2.74252 15.3908 2.7474C15.442 2.74822 15.4623 2.7935 15.4617 2.83972C15.4617 2.8621 15.4999 2.90552 15.5058 2.90405C15.691 2.85385 15.8053 3.0256 15.9874 2.9967C16.0883 2.9808 16.1968 2.994 16.3021 2.99385C16.5296 2.9936 16.7567 2.99315 16.9844 2.99272C17.1885 2.82422 17.4714 2.98395 17.6717 2.90192C17.9069 2.80547 18.1366 2.8444 18.3696 2.828C18.3869 2.82687 18.41 2.83362 18.4212 2.82707C18.7032 2.66565 19.0248 2.7786 19.3244 2.74517C19.3915 2.73775 19.4909 2.75437 19.5204 2.72515C19.6192 2.6277 19.7448 2.67427 19.8591 2.66195C19.9252 2.65472 20.0239 2.66672 20.0518 2.6371C20.1217 2.5633 20.2506 2.6005 20.3139 2.52455C20.3842 2.44054 20.4846 2.4098 20.6216 2.40635C20.7279 2.40355 20.8133 2.32022 20.9463 2.32433C21.0914 2.32875 21.262 2.38053 21.3819 2.25945C21.56 2.27718 21.6873 2.17149 21.8462 2.14207C21.9198 2.01605 22.1168 2.13866 22.2087 2.02662C22.2628 1.96011 22.3719 1.99857 22.4535 2.00086C22.5706 2.00411 22.7145 1.95131 22.7998 2.03292C22.8954 2.12418 23.0355 2.03749 23.1284 2.11595C23.2379 2.20802 23.3898 2.15147 23.5225 2.16224C23.6267 2.17062 23.733 2.16387 23.8377 2.16387C24.0304 2.16387 24.2231 2.16387 24.416 2.16387C24.591 2.16387 24.7671 2.15457 24.9411 2.16636C25.1332 2.17942 25.3024 2.13282 25.4774 2.0845C25.5558 2.063 25.6524 2.08937 25.7384 2.07865C25.8437 2.06554 25.871 2.17723 25.9569 2.16102C26.0948 2.13511 26.17 2.23455 26.2828 2.24451C26.4036 2.25518 26.527 2.24684 26.65 2.24684C27.3507 2.24684 28.0514 2.23963 28.752 2.25126C28.9647 2.25482 29.2069 2.16727 29.3915 2.32982C29.4968 2.32982 29.6025 2.33546 29.7067 2.32845C29.8329 2.32007 29.9284 2.35345 30.0368 2.40579C30.1132 2.44263 30.2421 2.41768 30.3462 2.41168C30.4745 2.40421 30.5856 2.41742 30.6645 2.50857C30.7714 2.63262 30.9174 2.68607 31.1097 2.66315C31.1779 2.65502 31.2492 2.66195 31.3196 2.66195C31.5124 2.66195 31.7051 2.66195 31.8973 2.66195C32.09 2.66195 32.2829 2.66195 32.4756 2.66195C32.6683 2.66195 32.8611 2.66195 33.0538 2.66195C33.2042 2.52362 33.4087 2.57687 33.5881 2.5849C33.7379 2.59167 33.841 2.52962 33.966 2.49913C34.0611 2.47606 34.1142 2.38343 34.2372 2.41168C34.3644 2.44085 34.4193 2.28663 34.562 2.3282C34.6738 2.36077 34.7151 2.23983 34.8332 2.24181C34.9787 2.2444 35.1505 2.29786 35.2654 2.16961C35.3868 2.16773 35.5087 2.16747 35.6299 2.16346C35.7631 2.15889 35.9129 2.19898 36.0074 2.0817C36.045 2.10904 36.0816 2.15777 36.1212 2.16011C36.278 2.16935 36.4365 2.16387 36.5937 2.16387C36.7693 2.16387 36.9476 2.18023 37.1188 2.15924C37.2875 2.13861 37.3804 2.25909 37.5495 2.25345C38.0917 2.23572 38.6351 2.24715 39.1779 2.24644C39.2466 2.24644 39.3481 2.26229 39.3777 2.23404C39.4904 2.12581 39.6337 2.16707 39.7654 2.16559C40.1681 2.16092 40.5707 2.16326 40.9739 2.16458C41.0415 2.16468 41.1414 2.15274 41.171 2.18155C41.2692 2.27789 41.3964 2.25406 41.5076 2.24298C41.7052 2.22352 41.9248 2.32017 42.1041 2.17352C42.124 2.15711 42.1772 2.25157 42.262 2.24862C42.437 2.24273 42.6125 2.24684 42.7877 2.24684C42.9449 2.24684 43.1028 2.24684 43.2606 2.24684C43.4356 2.24684 43.6112 2.25157 43.7857 2.24547C43.942 2.23998 44.0396 2.36666 44.2174 2.33607C44.3844 2.30716 44.5659 2.33216 44.7409 2.32901C44.8403 2.32723 44.9515 2.35721 45.0255 2.26803C45.0389 2.25192 45.0857 2.24959 45.1178 2.24745C45.5065 2.22128 45.9076 2.31336 46.2845 2.16651C46.3221 2.15177 46.4026 2.15899 46.429 2.18135C46.4955 2.23821 46.5685 2.25523 46.6598 2.247C46.7909 2.235 46.9438 2.28932 47.0389 2.16869C47.0765 2.19461 47.1243 2.24745 47.1485 2.24136C47.2076 2.22606 47.2312 2.15325 47.3176 2.16371C47.3825 2.17169 47.4561 2.14364 47.5103 2.19781C47.5307 2.21798 47.5597 2.23968 47.5898 2.24532C47.7031 2.26661 47.8293 2.20757 47.9372 2.28556C48.0537 2.37007 48.2019 2.31224 48.3339 2.32998C48.3662 2.33435 48.4156 2.3313 48.4284 2.34654C48.5514 2.49568 48.8199 2.32627 48.9321 2.49181C49.0539 2.49319 49.1763 2.48968 49.2977 2.4973C49.4127 2.50447 49.5318 2.4657 49.6408 2.5476C49.7353 2.6192 49.8732 2.56412 49.9898 2.57952C50.072 2.5903 50.173 2.54252 50.2346 2.61025C50.3227 2.7067 50.3887 2.56672 50.4172 2.59365C50.4989 2.67072 50.5971 2.66215 50.7002 2.662C50.8929 2.66162 51.0856 2.66052 51.2785 2.6626C51.3456 2.66335 51.4448 2.6526 51.4739 2.6817C51.557 2.76492 51.6601 2.73997 51.7992 2.74685C51.8449 2.74202 51.9587 2.75615 52.0049 2.71855C52.0736 2.66265 52.1718 2.68475 52.2266 2.6348C52.2775 2.58882 52.3689 2.5976 52.4017 2.57205C52.4962 2.4975 52.6702 2.44827 52.6599 2.33099C52.6497 2.21 52.7973 2.14628 52.7796 2.03485C52.851 1.99019 52.8865 1.93744 52.8817 1.8597C52.8747 1.74115 52.8559 1.62184 52.9766 1.51564C53.0138 1.48348 53.0126 1.3846 52.929 1.33078C52.8258 1.26437 52.7581 1.15771 52.6003 1.15538C52.4633 1.03398 52.2277 1.04476 52.0929 0.920672C51.9715 0.953955 51.9302 0.829207 51.8217 0.83556C51.7347 0.84059 51.666 0.82184 51.5861 0.780732C51.5109 0.741962 51.3885 0.750752 51.2875 0.754817C51.1136 0.76193 50.9896 0.631392 50.8124 0.656697C50.7431 0.540842 50.5713 0.630122 50.4956 0.565082C50.407 0.488657 50.3093 0.506495 50.2094 0.504615C50.0901 0.502277 49.9624 0.52387 49.8846 0.42189C49.8599 0.440792 49.8325 0.458017 49.8105 0.47875C49.7697 0.517722 49.6913 0.51686 49.6725 0.497145C49.5967 0.419247 49.5007 0.41813 49.3944 0.419957C49.2188 0.423007 49.0438 0.420822 48.8687 0.420822C48.5514 0.25253 48.197 0.356695 47.861 0.342365C47.4244 0.323767 46.9852 0.337742 46.5471 0.337742C46.4774 0.337742 46.3861 0.360557 46.341 0.334085C46.0719 0.177782 45.7708 0.28063 45.4872 0.257762C45.2961 0.242316 45.1022 0.253137 44.9095 0.255475C44.8037 0.256747 44.72 0.242418 44.6277 0.184592C44.5665 0.146533 44.4268 0.14008 44.3494 0.224735C44.3398 0.235812 44.3254 0.24445 44.313 0.254257C44.1471 0.0947037 43.9216 0.182102 43.7261 0.17636C43.2537 0.162336 42.78 0.171838 42.3071 0.171838C42.1846 0.171838 42.0579 0.155933 41.9404 0.17575C41.7863 0.201868 41.7089 0.072854 41.5623 0.0857097C41.4066 0.0994292 41.2472 0.088809 41.0899 0.088809C40.9144 0.088809 40.7377 0.0765632 40.5648 0.0923662C40.4011 0.107356 40.2765 0.0164001 40.1346 0.0110647C39.7325 -0.00397595 39.3283 -0.00326432 38.9262 0.0106585C38.7839 0.0156382 38.6609 0.109693 38.496 0.092315C38.3414 0.0759022 38.1814 0.088809 38.0236 0.088809C37.8663 0.088809 37.7083 0.088809 37.5505 0.088809C37.3932 0.088809 37.2353 0.088809 37.0781 0.088809C36.7624 0.088809 36.4471 0.088809 36.132 0.088809C36.0617 0.088809 35.9688 0.0656895 35.9253 0.0926205C35.6746 0.249735 35.3906 0.145567 35.1243 0.169297C34.9684 0.183118 34.809 0.171838 34.6517 0.171838C34.5691 0.261777 34.451 0.260862 34.3268 0.255882C34.205 0.251005 34.082 0.254815 33.9591 0.254815C33.7143 0.254815 33.4689 0.250345 33.2235 0.256797C33.1097 0.259795 33.0383 0.366807 32.8981 0.34135C32.7983 0.32321 32.6893 0.337742 32.584 0.337742C32.4616 0.337742 32.3386 0.337487 32.2162 0.338047C32.1819 0.3382 32.1309 0.32997 32.1158 0.344095C31.9778 0.474635 31.7926 0.405627 31.6289 0.419247C31.5253 0.427782 31.4184 0.416452 31.3137 0.422042C31.1988 0.428037 31.0646 0.382255 30.9819 0.489065C30.9052 0.459645 30.8369 0.40309 30.7521 0.495212C30.7274 0.522195 30.6206 0.50319 30.5513 0.503597C30.4283 0.504307 30.3059 0.5038 30.1829 0.5038C30.0433 0.5038 29.9026 0.5038 29.7631 0.5038C29.6401 0.5038 29.5145 0.490132 29.3958 0.507257C29.2444 0.529055 29.1429 0.449075 29.0167 0.425445C28.9008 0.403697 28.7719 0.412997 28.6506 0.422957C28.5196 0.43368 28.3822 0.384287 28.2565 0.476057C28.1641 0.543385 28.0234 0.502275 27.9053 0.502377C26.5916 0.504665 25.2776 0.502835 23.9643 0.50553C23.85 0.505732 23.7163 0.464115 23.6299 0.567417C23.4431 0.604867 23.2552 0.587692 23.0672 0.57687C22.9298 0.448515 22.7424 0.506495 22.5803 0.510965C22.4954 0.513355 22.425 0.59308 22.3081 0.590182C21.9402 0.581087 21.5724 0.587542 21.2046 0.585915C21.1552 0.585762 21.0801 0.587032 21.0618 0.564675C20.9646 0.446177 20.7348 0.567977 20.6613 0.420822C20.4862 0.420822 20.3106 0.420822 20.1356 0.420822C19.5922 0.420822 19.0494 0.41315 18.5066 0.424887C18.3106 0.429157 18.0862 0.348362 17.9193 0.5038C17.7678 0.517112 17.603 0.464977 17.4666 0.540587C17.305 0.63002 17.1311 0.580427 16.9646 0.584287C16.5967 0.59257 16.2291 0.58439 15.8612 0.588252C15.7459 0.589472 15.6121 0.549685 15.5294 0.655832C15.3414 0.67819 15.1541 0.680885 14.9667 0.654462C14.8835 0.54745 14.7488 0.59374 14.6344 0.58815C14.512 0.582205 14.389 0.586827 14.2666 0.586827C14.1614 0.586827 14.0561 0.586827 13.9509 0.586827C13.8285 0.586827 13.7028 0.599887 13.5842 0.583425C13.4473 0.564472 13.3694 0.655427 13.2583 0.666505C13.1208 0.680325 12.9785 0.671687 12.8384 0.6693C12.7047 0.667115 12.556 0.7037 12.4615 0.586827C12.2864 0.586827 12.1103 0.577122 11.9364 0.589725C11.7812 0.601005 11.6663 0.567927 11.5777 0.46869C11.5101 0.392977 11.4784 0.469247 11.4274 0.48754C11.3887 0.501412 11.3307 0.497092 11.2878 0.48556C11.2427 0.473365 11.2062 0.42504 11.1643 0.42382C10.9372 0.41747 10.709 0.420822 10.4813 0.420822C10.2746 0.26879 10.0212 0.355375 9.7887 0.34059C9.57984 0.327327 9.36883 0.337742 9.15836 0.337742C9.10575 0.337742 9.03004 0.35573 9.00481 0.335C8.81259 0.178088 8.57419 0.261015 8.36104 0.259085C7.3103 0.249735 6.25917 0.257255 5.20832 0.252477C5.02743 0.251615 4.82583 0.309337 4.67103 0.173718C4.65712 0.161573 4.58646 0.165994 4.57497 0.179765C4.49008 0.282102 4.36139 0.250955 4.24424 0.254662C4.09384 0.259287 3.93213 0.226564 3.81487 0.337742C3.64573 0.281747 3.55021 0.455832 3.38512 0.42189C3.25009 0.394247 3.15611 0.451615 3.07392 0.529512C3.04257 0.559187 3.01035 0.585152 2.94737 0.589725C2.81276 0.599685 2.65781 0.53683 2.54667 0.621127C2.43632 0.704615 2.31681 0.661017 2.20218 0.667775C2.06274 0.67621 1.92046 0.680477 1.78236 0.667062C1.62016 0.65121 1.47497 0.69064 1.35675 0.75751C1.23873 0.82438 1.08072 0.802377 0.992235 0.860152C0.859617 0.946942 0.729685 0.90563 0.598677 0.917977C0.546812 0.922957 0.493065 0.922805 0.441306 0.917977C0.355239 0.9099 0.314861 0.961017 0.276096 1.00126C0.238349 1.04064 0.234164 1.10014 0.196472 1.13983C0.144552 1.19455 0.0709414 1.23632 0.0156395 1.28957C-0.00197135 1.3065 -0.00594591 1.35583 0.0101079 1.36706C0.201948 1.50136 0.264769 1.71798 0.487107 1.83185Z" fill="%23E68369"/></svg>');
  max-width: 90px;
  max-height: 3px;
  height: 100%;
  width: 100%;
  bottom: -7px;
  right: 0;
  content: "";
  @media (max-width:767px) {
    left: 0;
    bottom: 20px;
  }
}